.parallax-viewport {
	position:relative;
	overflow:hidden;
	width:6000px;
	height:80%;
	margin:1px -900px auto;
	position:absolute;
	text-align:center;
}

.parallax-layer {
	position:absolute;
	text-align:center;
}
.parallax1 {width: 950px; height: 573px; display: block; top: 74.5895%; margin-top: -427.398px; left: 24.6184%; margin-left: -233.874px;}

.parallax2 {width: 970px; height: 563px; display: block; top: 74.5895%; margin-top: -519.939px; left: 24.6184%; margin-left: -238.798px;}

.parallax3 {width: 940px; height: 293px; display: block; top: 95.5895%; margin-top: 900px; left: 14.6184%; margin-left: -600px;}

.parallax4 {width: 100px; height: 10%; display: block; top: 74.5895%; margin-top: -519.939px; left: 24.6184%; margin-left: -238.798px;}

